In [ ]:
import pandas as pd
import numpy as np
import pickle

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/breast-cancer_csv.csv")
data.head()

In [ ]:
data['tumor-size'].unique()

array(['15-19', '35-39', '30-34', '25-29', '40-44', '10-14', '0-4',
       '20-24', '45-49', '50-54', '5-9'], dtype=object)

In [ ]:
data.dtypes

age            object
menopause      object
tumor-size     object
inv-nodes      object
node-caps      object
deg-malig       int64
breast         object
breast-quad    object
irradiat       object
Class          object
dtype: object

In [ ]:
data.isna().any()

age            False
menopause      False
tumor-size     False
inv-nodes      False
node-caps       True
deg-malig      False
breast         False
breast-quad     True
irradiat       False
Class          False
dtype: bool

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.isna().any()

age            False
menopause      False
tumor-size     False
inv-nodes      False
node-caps      False
deg-malig      False
breast         False
breast-quad    False
irradiat       False
Class          False
dtype: bool

In [ ]:
data.columns

Index(['age', 'menopause', 'tumor-size', 'inv-nodes', 'node-caps', 'deg-malig',
       'breast', 'breast-quad', 'irradiat', 'Class'],
      dtype='object')

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
for i in data:
  if data[i].dtype==np.dtype("O"):
    data[i]=le.fit_transform(data[i])

In [ ]:
data

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,2,2,2,0,1,3,1,2,0,1
1,3,0,2,0,0,1,1,0,0,0
2,3,0,6,0,0,2,0,1,0,1
3,2,2,6,0,1,3,1,1,1,0
4,2,2,5,4,1,2,0,4,0,1
...,...,...,...,...,...,...,...,...,...,...
281,3,0,5,5,1,2,0,1,0,0
282,3,2,4,4,1,2,0,1,1,0
283,1,2,5,5,1,2,1,4,0,0
284,3,2,2,0,0,2,1,1,0,0
285,3,0,7,0,0,3,0,4,0,0

In [ ]:
def print_unique_col_values(data):
  for column in data:
    if data[column].dtypes=='object':
      print(f'{column}:{data[column].unique()}')

In [ ]:
print_unique_col_values(data)

In [ ]:
x=data.drop("Class",axis=1)

In [ ]:
x

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,2,2,2,0,1,3,1,2,0
1,3,0,2,0,0,1,1,0,0
2,3,0,6,0,0,2,0,1,0
3,2,2,6,0,1,3,1,1,1
4,2,2,5,4,1,2,0,4,0
...,...,...,...,...,...,...,...,...,...
281,3,0,5,5,1,2,0,1,0
282,3,2,4,4,1,2,0,1,1
283,1,2,5,5,1,2,1,4,0
284,3,2,2,0,0,2,1,1,0
285,3,0,7,0,0,3,0,4,0

In [ ]:
y=data["Class"]

In [ ]:
y

0      1
1      0
2      1
3      0
4      1
      ..
281    0
282    0
283    0
284    0
285    0
Name: Class, Length: 277, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
(X_train, X_test,Y_train,Y_test)=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# sc=StandardScaler()
# X_train=sc.fit_transform(X_train)
# X_test=sc.transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,Y_train)

LogisticRegression()

In [ ]:
y_pred=lr.predict(X_test)
y_pred

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0])

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)
cm

array([[34,  8],
       [ 8,  6]])

In [ ]:
34+8+9+5

56

In [ ]:
34+5

39

In [ ]:
56/39

1.435897435897436

In [ ]:
pickle.dump(lr,open('model.pkl','wb'))